# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5
    open-pull-requests-limit: 40
    assignees:
    groups:
      default:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"
        exclude-patterns:
          - "react*"
          - "@types/react*"
          - "typescript"
      tauri:
        patterns:
          - "tauri"
          - "@tauri-apps/*"
      react:
        patterns:
          - "react"
          - "react-dom"

  - package-ecosystem: "cargo"
    directory: "/src-tauri"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5
    open-pull-requests-limit: 40
    assignees:
      - "shm11C3"

  - package-ecosystem: "rust-toolchain"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5
    assignees:
      - "shm11C3"
