name: "Auto Update Licenses Weekly"
permissions:
  contents: write
  pull-requests: write

on:
  schedule:
    - cron: "0 3 * * 5"
  workflow_dispatch:
  pull_request:
    branches:
      - develop

jobs:
  update-licenses:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: windows
            runs-on: windows-latest

          - platform: linux
            runs-on: ubuntu-22.04

    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: npm ci

      - name: Install cargo-license
        run: cargo install cargo-license

      - name: Generate licenses
        run: node --experimental-strip-types .github/scripts/generate-licenses.ts ${{ matrix.platform }}

      - name: Commit and create PR if changed
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore: update THIRD_PARTY_NOTICES.md (auto)"
          title: "chore: update THIRD_PARTY_NOTICES.md (auto)"
          body: |
            This PR updates the `THIRD_PARTY_NOTICES.md` file with the latest licenses.
            It is automatically generated by the workflow ( `.github\workflows\auto-update-licenses.yml` ).
          branch: auto/update-licenses-${{ github.run_id }}
          add-paths: |
            ./THIRD_PARTY_NOTICES.md
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: true
